html {color: white;}

body
{
    background-color: #000000;
    background-image: url('../img/fond.jpg');
    background-repeat: no-repeat;
    background-position: 50% -30px;
    
    font-size: 0.8em;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password], textarea
{
    color: #000000;
    padding: 3px;
    
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    margin-top: 2px;
}

input[type=submit]
{
    padding: 5px 8px;
    background-color: #ffffff;
    
    border: 1px #2A2A2A solid;
    border-radius: 4px;
    cursor: pointer;
    
    font-size: 11px;
    font-family: Tahoma,sans-serif;
    color: #1e325d;
}

input[type=submit]:hover {background-color: #f1f1f1;}

p.loader
{
    background-image: url("../img/ajax-loader.gif");
    background-position: 50% 0;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 11px;
}

.clear {clear: both;}
.center {text-align: center;}

.link {cursor: pointer;}
.link:hover {text-decoration: underline;}
