html {color: white;}

body
{
    background-color: #000000;
    background-image: url('../img/fond.jpg');
    background-repeat: no-repeat;
    background-position: 50% -30px;
    
    font-size: 0.8em;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password], textarea, button
{
    color: #000000;
    padding: 3px;
    
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    margin-top: 2px;
}

input[type=submit]
{
    padding: 5px 8px;
    background-color: #ffffff;
    
    border: 1px #2A2A2A solid;
    border-radius: 4px;
    cursor: pointer;
    
    font-size: 11px;
    font-family: Tahoma,sans-serif;
    color: #1e325d;
}

input[type=submit]:hover, button:hover {background-color: #f1f1f1;}
button.selected
{
    background-color: #2779AA;
    color: white;
}

p.loader
{
    background-image: url("../img/ajax-loader.gif");
    background-position: 50% 0;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 11px;
}

.clear {clear: both;}
.center {text-align: center;}

.link {cursor: pointer;}
.link:hover {text-decoration: underline;}


table, table td
{
    border-collapse: collapse;
    border: 1px solid #C0C0C0;
}

table {width: 670px;}

table td {padding: 2px;}
table thead td
{
    padding-top: 5px;
    padding-bottom: 5px;
    
    text-align: center;
    background-color: #2779AA;
    color: white;
    font-weight: bold;
}

table td.po
{
    background-image: url('../img/Icon_po.png');
    background-repeat: no-repeat;
    background-position: right;
    
    padding-right: 20px;
    text-align: right;
}

.suite {cursor: pointer;}
.suite:hover {text-decoration: underline;}

.triPosition
{
    margin-top: 3px;
    display: inline;
    float: right;
    width: 10px;
    height: 10px;
}

.tri, .triInverse
{
    background-image: url("../jquery_ui/themes/cupertino/images/ui-icons_ffffff_256x240.png");
    background-repeat: no-repeat;
}

.tri {background-position: -2px -3px;}
.triInverse {background-position: -67px -3px;}

h2 {margin-top: 0px;}
