.main
{
    position: relative;
    margin: auto;
    
    width: 900px;
    min-height: 120px;
    margin-top: 50px;
    
    background-color: white;
    opacity: 0.93;
    
    border: 3px solid #C0C0C0;
    border-radius: 4px;
    
    color: black;
}

.menu_left
{
    float: left;
    overflow-x: hidden;
    width: 200px;
    border-right: 3px solid #C0C0C0;
    height: 100%;
}

.menu_left ul, .menu_left li, .bandeau ul, .bandeau ul li
{
    margin: 0;
    padding: 0;
}

.menu_left ul {
    position: relative;
    left: -1px;
}

.menu_left li
{
    cursor: pointer;
    
    padding: 2px;
    padding-top: 4px;
    padding-left: 5px;
    
    height: 16px;
    width: 193px;
    border: 1px solid #C0C0C0;
    
    list-style-type: none;
}

.menu_left li:hover
{
    background-color: #E9E9E9;
}

.menu_left li.emptyLi
{
    height: 0px;
    background-color: #C0C0C0;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.menuSelected, .menu_left li.menuSelected:hover
{
    background-color: #2779AA;
    color: white;
}

.perso
{
    
}

.bandeau, .cont
{
    float: right;
    width: 690px;
}

.bandeau
{
    height: 20px;
    border:0px;
    border-bottom: 2px solid #C0C0C0;
    padding-bottom: 5px;
}

.bandeau ul li
{
    list-style-type: none;
    float: left;
    
    padding: 5px;
    margin-right: 10px;
}

.bandeau ul li.po
{
    background-image: url("../img/Icon_po.png");
    background-repeat: no-repeat;
    
    float: right;
    
    margin: 0px;
    margin-top: 5px;
    margin-right: 10px;
    
    padding: 0px;
    padding-left: 20px;
}

.bandeau ul li#poPerso {display: none;}

.bandeau ul li.wait
{
    padding: 5px;
    display: none;
}

.bandeau ul li.link {cursor: pointer;}
.bandeau ul li.link:hover {text-decoration: underline;}

.cont
{
    margin-top: 10px;
    min-height: 75px;
    overflow: auto;
}

input.po
{
    width: 110px;
    background-image: url('../img/Icon_po.png');
    background-repeat: no-repeat;
    background-position: right;
}

p.ListeDesPersos img
{
    position: relative;
    top: 3px;
    cursor: pointer;
}
