table.recap td.recap_perso {width: 190px;}
table.recap td.recap_enCours {width: 100px;}
table.recap td.recap_wait {width: 100px;}
table.recap td.recap_po {width: 100px;}
table.recap td.recap_stat {width: 80px;}

div.GraphRecap {margin-top: 50px;}
.statPerso {cursor: pointer;}
