.contVentes {margin-top: 25px;}

/* Total : 670px */
.venteItem {width: 230px;}
.ventePerso {width: 120px;}
.ventePo {width: 100px;}
.venteDate {width: 120px;}
.venteAchat {width: 110px;}

.triPosition
{
    margin-top: 3px;
    display: inline;
    float: right;
    width: 10px;
    height: 10px;
}

.tri, .triInverse
{
    background-image: url("../jquery_ui/themes/cupertino/images/ui-icons_ffffff_256x240.png");
    background-repeat: no-repeat;
}

.tri
{
    background-position: -2px -3px;
}

.triInverse
{
    background-position: -67px -3px;
    
}
