<form>
	<input type="text" id="AddItem_name" placeholder="Nom de l'item" style="width: 400px;" />
	<p>Prix : 
		<input type="text" id="AddItem_enchere" placeholder="Enchère" class="po" />&nbsp;&nbsp;
		<input type="text" id="AddItem_rachat" placeholder="Rachat" class="po" />
	</p>
	<p>Mise en vente : 
		<input type="text" id="AddItem_date" placeholder="Quand ?" />&nbsp;&nbsp;Pour
		<select id="AddItem_duree">
			<option value="1">1 jour</option>
			<option value="2">2 jours</option>
			<option value="3">3 jours</option>
		</select>
	</p>
	<p><button>Mettre en vente</button></p>
</form>