<block name="start">
<table id="ViewPerso">
	<thead>
		<tr>
			<td class="persoAttenteItem">Item<div class="triPosition<var name='triItem' />"></div></td>
			<td class="persoEnchere">Enchère<div class="triPosition<var name='triEnchere' />"></div></td>
			<td class="persoRachat">Rachat<div class="triPosition<var name='triRachat' />"></div></td>
			<td class="persoAttenteAction" colspan="2"></td>
		</tr>
	</thead>
	<tbody id="ViewPersoTbody">
</block>
		<block name="items">
			<tr>
				<td 
				<block name="unite">rowspan="2"</block>
				>
					<span style="color: #<var name='color' />;"><var name="nomItem" /></span>
					<block name="unite">&nbsp;x<var name="nb_piece" /></block>
					
					<block name="notes">
						<p class="notes"><var name="notes" /></p>
					</block>
				</td>
				<td class="po"><var name="enchere" /></td>
				<td class="po"><var name="rachat" /></td>
				<td class="center" 
				<block name="unite">rowspan="2"</block>
				>
					<button class="ItemMeV" id="<var name='ref' />">Mise en vente</button>
				</td>
				<td class="center" 
				<block name="unite">rowspan="2"</block>
				>
					<button class="ItemVendu" id="<var name='ref' />">Vendu</button>
					<input type="hidden" id="<var name='ref' />_enchere" value="<var name='poEnchere' />" />
					<input type="hidden" id="<var name='ref' />_rachat" value="<var name='poRachat' />" />
				</td>
			</tr>
			<block name="unite">
				<tr>
					<td class="po"><var name="Uenchere" /> / U</td>
				<td class="po"><var name="Urachat" /> / U</td>
				</tr>
			</block>
		</block>
<block name="start">
	</tbody>
</table>
</block>

<block name="suite">
	<p class="center suite" id="ViewPersoSuite">Afficher la suite ?</p>
</block>
<block name="suiteAfter">
	<script type="text/javascript">$("#ViewPersoSuite").show();</script>
</block>