<block name="start">
<table id="ViewPerso">
	<thead>
		<tr>
			<td class="persoVenteItem">Item<div class="triPosition<var name='triItem' />"></div></td>
			<td class="persoDate">Jusqu'à<div class="triPosition<var name='triDate' />"></div></td>
			<td class="persoEnchere">Enchère<div class="triPosition<var name='triEnchere' />"></div></td>
			<td class="persoRachat">Rachat<div class="triPosition<var name='triRachat' />"></div></td>
			<td class="persoVenteAction"></td>
		</tr>
	</thead>
	<tbody id="ViewPersoTbody">
</block>
		<block name="items">
			<tr>
				<td>
					<span style="color: #<var name='color' />;"><var name="nomItem" /></span>
					
					<block name="notes">
						<p class="notes"><var name="notes" /></p>
					</block>
				</td>
				<td class="center"><var name="date" /></td>
				<td class="po"><var name="enchere" /></td>
				<td class="po"><var name="rachat" /></td>
				<td class="center"><button class="ItemVendu" id="<var name='ref' />">Vendu</button></td>
			</tr>
		</block>
<block name="start">
	</tbody>
</table>
</block>

<block name="suite">
	<p class="center suite" id="ViewPersoSuite">Afficher la suite ?</p>
</block>
<block name="suiteAfter">
	<script type="text/javascript">$("#ViewPersoSuite").show();</script>
</block>