<h2 style="float: left;"><var name="nom" /></h2>
<p class="infoPersoView">
	En attente : <var name="nbAttente" />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	En vente : <var name="nbVente" /> / 30
</p>

<p id="buttonPersoView" class="clear">
	<button id="addItem">Ajouter un item</button>
	&nbsp;&nbsp;
	<button id="vente">Ventes en cours</button>
	&nbsp;&nbsp;
	<button id="attente">Items en attente</button>
	&nbsp;&nbsp;
	<button id="vendu">Ventes effectuées</button>
	
	<input type="hidden" id="PersoViewPo" value="<var name='po' />" />
	<input type="hidden" id="PersoViewId" value="<var name='idPerso' />" />
	<input type="hidden" id="action" value="" />
	<input type="hidden" id="suite" value="0" />
	<input type="hidden" id="triRow" value="venteDate" />
	<input type="hidden" id="triSens" value="DESC" />
</p>

<div class="cont_persoView"></div>

<div id="dialogVendu" title="Vente de l'item">
	<p>L'item vient d'être vendu.</p>
	<form>
		<input type="hidden" id="dialogVenduRefItem" />
		<input type="hidden" id="dialogVenduRefRachat" />
		<input type="hidden" id="dialogVenduRefEnchere" />
		<p>
			L'item à été achété en 
			<select id="TypeAchatVendu">
				<option value="rachat">Rachat</option>
				<option value="enchere">Enchère</option>
			</select>&nbsp;
			et vous avez gagné <input type="text" id="poGagneVendu" class="po" />
		</p>
	</form>
</div>

<div id="dialogMeV" title="Mise en vente de l'item">
	<p>L'item va être mit en vente.</p>
	<form>
		<input type="hidden" id="dialogMeVRefItem" />
		<p>
			<input type="text" class="po" placeholder="Enchère" id="dialogMeVenchere" />
			&nbsp;&nbsp;&nbsp;
			<input type="text" class="po" placeholder="Rachat" id="dialogMeVrachat" />
		</p>
		<p>
			<input type="text" class="po" placeholder="Enchère" id="dialogMeVUenchere" />/U
			<input type="text" class="po" placeholder="Rachat" id="dialogMeVUrachat" />/U
			&nbsp;&nbsp;&nbsp;x
			<input type="text" placeholder="Nombre" id="dialogMeVUnb" style="width: 50px;" />
		</p>
		<p>
			<input type="text" id="dialogMeVDate" placeholder="Quand ?" />&nbsp;&nbsp;Pour
			<select id="dialogMeVDuree">
				<option value="1">1 jour</option>
				<option value="2">2 jours</option>
				<option value="3" selected="selected">3 jours</option>
			</select>
		</p>
	</form>
</div>