<block name="start">
<table id="Ventes">
	<thead>
		<tr>
			<td class="venteItem">Item<div class="triPosition<var name='triItem' />"></div></td>
			<td class="ventePerso">Personnage<div class="triPosition<var name='triPerso' />"></div></td>
			<td class="venteDate">Date<div class="triPosition<var name='triDate' />"></div></td>
			<td class="venteAchat">Type d'achat<div class="triPosition<var name='triAchat' />"></div></td>
			<td class="ventePo">Po obtenu<div class="triPosition<var name='triPo' />"></div></td>
		</tr>
	</thead>
	<tbody id="VentesTbody">
</block>
		<block name="items">
			<tr>
				<td><var name="nomItem" /></td>
				<td class="center" title="<var name="nomUser" />"><var name="nomPerso" /></td>
				<td class="center"><var name="dateVendu" /></td>
				<td class="center"><var name="typeVente" /></td>
				<td class="po"><var name="poGagne" /></td>
			</tr>
		</block>
<block name="start">
	</tbody>
</table>
</block>

<block name="suite">
	<p class="center suite">Afficher la suite ?</p>
</block>