<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Gestionnaire d'HV</title>
	
	<link type="text/css" href="<var name='path' />css/normalize.css" rel="stylesheet" />
	<link type="text/css" href="<var name='path' />css/global.css" rel="stylesheet" />
	<block name="css"><link type="text/css" href="<var name='path' />css/<var name='link' />" rel="stylesheet" /></block>
	
	<script type="text/javascript" src="<var name='path' />jquery/jquery-2.0.3.min.js"></script>
	<block name="js"><script type="text/javascript" src="<var name='link' />"></script></block>
</head>
<body>