<div class="main">
	<div class="menu_left">
		<ul class="main_liste">
			<li id="recap">Récap</li>
			<li id="vendu">Vendu</li>
			<li id="ventes">En vente</li>
			<li id="enAttente">En attente d'être à l'HV</li>
			<li class="emptyLi"></li>
		</ul>
		<ul class="list_perso">
			<block name="persos">
				<li class="perso" id="<var name='idPerso' />"><var name="nom" /></li>
			</block>
		</ul>
		
	</div>
	<div class="bandeau">
		<ul>
			<li class="link" id="perso/liste">Mes personnages</li>
			<li class="link" id="monCompte">Mon compte</li>
			<li class="link" id="deco">Me déconnecter</li>
			<li class="wait"><img src="<var name='path' />/img/ajax-loader.gif" /></li>
			<li class="po" id="poPerso"></li>
			<li class="po"><var name="mesPo" /></li>
			<li class="clear"></li>
		</ul>
	</div>
	<div class="cont"></div>
	<div class="clear"></div>
</div>
