<div class="rom_logo"></div>
<div class="login_img">
	<div class="bulle">
		<form class="login" method="post" action="">
			<div class="form_login">
				<p>Merci de vous identifier.</p>
				<p><input id="login" type="text" placeholder="Login" /></p>
				<p><input id="mdp" type="password" placeholder="Mot de passe" /></p>
				<p><input id="send_login" type="submit" value="Me connecter" /></p>
			</div>
			<div class="result_login"></div>
		</form>
		<span class="arrow_border"></span>
		<span class="arrow_inner"></span>
	</div>
</div>
