<block name="modifOk">
	<p style="color: #00C000;">Le mot de passe a bien été changé.</p>
</block>

<p>Changer de mot de passe</p>
<form id="SendChangeMDP">
	<input type="password" placeholder="Ancien mot de passe" id="oldMDP" />
	&nbsp;&nbsp;
	<input type="password" placeholder="Nouveau mot de passe" id="newMDP" />
	&nbsp;&nbsp;
	<input type="submit" value="Changer" />
</form>

<p><br/></p>
<p>Changer le fond</p>
<form id="changeBackground">
	<label>Couleur : </label><input type="text" value="<var name='backColor' />" id="colorBackground" /><br/>
	<label class="labelOpacity">Opacité : <span id="valOpacity" ><var name="backOpacity" /></span></label><div id="sliderOpacity"></div><br/>
	<label class="clear">Texte noir : </label><input type="checkbox" id="ColorText" <var name="textColorCheck" /> />
	<br/>
	<p><input type="submit" value="Sauvegarder" />&nbsp;&nbsp;&nbsp;<button id="Init">Réinitialiser</button></p>
</form>
<div id="pickerColor"></div>
<p class="clear"></p>
