<block name="persos">
	<p class="ListeDesPersos" id="<var name='idPerso' />">
		<img src="<var name='path' />img/cross.png" alt="supprimer" />&nbsp;&nbsp;<span class="nomPerso"><var name="nom" /></span> : <span class="poPerso"><var name="po" /></span> PO
	</p>
</block>

<form id="createPerso">
	<p>
		Créer mon perso : 
		<input type="text" id="nomPerso" placeholder="Nom du personnage" /> avec
		<input type="text" class="po" id="po" placeholder="plein de po !!" />
		<input type="submit" value="Créer" /> 
	</p>
</form>


<block name="noPerso">
	<p>Aucun personnage pour ce compte.</p>
</block>
