<table class="recap">
	<thead>
		<tr>
			<td class="recap_perso">Personnage</td>
			<td class="recap_enCours">Vente en cours</td>
			<td class="recap_wait">Item en attente</td>
			<td class="recap_po"></td>
			<td class="recap_stat"></td>
		</tr>
	</thead>
	<tbody>
		<block name="persos">
			<tr id="<var name='idPerso' />">
				<td><var name="nom" /></td>
				<td class="center"><var name="nbVente" /> / 30</td>
				<td class="center"><var name="nbWait" /></td>
				<td class="po"><var name="po" /></td>
				<td class="center statPerso" id="onePerso">Statistiques</td>
			</tr>
		</block>
	</tbody>
</table>

<script type="text/javascript">graphRecap();</script>
<div class="GraphRecap center">
	<button class="selected" id="general">Toutes mes ventes</button>
	&nbsp;&nbsp;
	<button id="allPerso">Les ventes par personnages</button>
</div>
<div id="GraphRecap" class="center"></div>
<p class="romVersion">Version de Runes of Magic actuellement supportée : <var name='romVersion' /></p>
